# Database
DB_HOST=localhost
DB_PORT=5434
DB_NAME=reservationdb
DB_USER=reservationservice
DB_PASSWORD=your_password_here

# Environment
ENV=development
NODE_ENV=development

# OpenTelemetry / Tracing
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=reservation-service

# Server
PORT=3000
